<section class="section is-centered" id="home">
      <% for (let i= 0; i < albumsList.length; i = i + 3) { %>
        <div class="columns">

      <!--  Column 1 -->
        <div class="column is-one-third">
        <% if ( albumsList[i] ) { %>
          <figure class="cover image is-256x256"><img src="<%=albumsList[i][0].coverURL%>"></figure>
          <p class="album-title"><strong><%= albumsList[i][0].title %></strong></p>
          <p class="artist">by: <%= albumsList[i][0].artist %></p>
            <div class="tags genres">
              <div class="content is-small">tags:
              <% for (let tags=0; tags < 3; tags++) { %>
                <% if (albumsList[i][0].genres[tags] !== undefined) { %>
                  <span class="tag is-light"><%= albumsList[i][0].genres[tags] %></span>
                  <% } %>
                  <% } %>
                </div>
              </div>
              <div class="tags bottom-tag">
            <%if (listenList.indexOf(albumsList[i][0].albumBandcampID) != -1) {%>
                <button data-user-id="<%= user %>" data-album-id="<%= albumsList[i][0].albumBandcampID %>" disabled class="button addbutton is-primary go-to-listen-mode addtolisten">Added to Listen list</button>
            <%} else {%>
              <button data-user-id="<%= user %>" data-album-id="<%= albumsList[i][0].albumBandcampID %>" class="button addbutton is-link go-to-listen-mode addtolisten">Add to Listen list</button>
          <%}%>
            <span class="tag is-light is-rounded count"><%=albumsList[i][0].buyCount %> fans bought this</span>
            </div>
            <% } %>
          </div>

          <!--  Column 2 -->
          <div class="column is-one-third">
          <% if ( albumsList[i+1] ) { %>
            <figure class="cover image is-256x256"><img src="<%=albumsList[i+1][0].coverURL%>"></figure>
            <p class="album-title"><strong><%= albumsList[i+1][0].title %></strong></p>
            <p class="artist">by: <%= albumsList[i+1][0].artist %></p>
              <div class="tags genres">
                <div class="content is-small">tags:
                <% for (let tags=0; tags < 3; tags++) { %>
                  <% if (albumsList[i+1][0].genres[tags] !== undefined) { %>
                    <span class="tag is-light"><%= albumsList[i+1][0].genres[tags] %></span>
                  <% } %>
                <% } %>
                </div>
              </div>
              <div class="tags bottom-tag">
                <%if (listenList.indexOf(albumsList[i+1][0].albumBandcampID) != -1) {%>
                  <button data-user-id="<%= user %>" data-album-id="<%= albumsList[i+1][0].albumBandcampID %>" disabled class="button addbutton is-primary go-to-listen-mode addtolisten">Added to Listen list</button>
              <%} else {%>
                <button data-user-id="<%= user %>" data-album-id="<%= albumsList[i+1][0].albumBandcampID %>" class="button addbutton is-link go-to-listen-mode addtolisten">Add to Listen list</button>
            <%}%>

            <span class="tag is-light is-rounded count"><%=albumsList[i+1][0].buyCount %> fans bought this</span>
            </div>
            <% } %>
          </div>

            <!--  Column 3 -->
            <div class="column is-one-third">
            <% if ( albumsList[i+2] ) { %>
              <figure class="cover image is-256x256"><img src="<%=albumsList[i+2][0].coverURL%>"></figure>
              <p class="album-title"><strong><%= albumsList[i+2][0].title %></strong></p>
              <p class="artist">by: <%= albumsList[i+2][0].artist %></p>
                <div class="tags genres">
                  <div class="content is-small">tags:
                  <% for (let tags=0; tags < 3; tags++) { %>
                    <% if (albumsList[i+2][0].genres[tags] !== undefined) { %>
                      <span class="tag is-light"><%= albumsList[i+2][0].genres[tags] %></span>
                    <% } %>
                  <% } %>
                  </div>
                </div>
                <div class="tags bottom-tag">
                    <%if (listenList.indexOf(albumsList[i+2][0].albumBandcampID) != -1) {%>
                      <button data-user-id="<%= user %>" data-album-id="<%= albumsList[i+2][0].albumBandcampID %>" disabled class="button addbutton is-primary go-to-listen-mode addtolisten">Added to Listen list</button>
                  <%} else {%>
                    <button data-user-id="<%= user %>" data-album-id="<%= albumsList[i+2][0].albumBandcampID %>" class="button addbutton is-link go-to-listen-mode addtolisten">Add to Listen list</button>
                <%}%>
              <span class="tag is-light is-rounded count"><%=albumsList[i+1][0].buyCount %> fans bought this</span>
              </div>
              <% } %>
            </div>
              </div>
          <% } %>
</section>

<% if (errorMessage) { %>
  <p class="error-message">
    <%= errorMessage %>
  </p>
<% } %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
<script>
  document.querySelectorAll(".addtolisten").forEach(el => {
    el.addEventListener('click', addToListen)
  })
  function addToListen(event) {
    let userID= event.target.dataset.userId
    let albumBandcampID = event.target.dataset.albumId

    axios.post(`/add/${albumBandcampID}/${userID}`).then(
      (result) => {
        event.target.classList.remove('is-link')
        event.target.classList.add('is-primary')
        event.target.setAttribute('disabled', true)
      }
    ).catch( (error) => {
      console.log('Error, addToListen, ', error)
    })
  }
</script>