<h2>Logged in!</h2>

<div class="columns">
  <div class="column">
    Title: <%= albums[0][0].title %>
    <br>
    Artist: <%= albums[0][0].artist %>
    <br>
    <img src="<%=albums[0][0].coverURL%>">
  </div>
  <div class="column">
    Title: <%= albums[1][0].title %>
    <br>
    Artist: <%= albums[1][0].artist %>
    <br>
    <img src="<%=albums[1][0].coverURL%>">
  </div>
  <div class="column">
    Third column
  </div>
  <div class="column">
    Fourth column
  </div>
</div>

<% if (errorMessage) { %>
  <p class="error-message">
    <%= errorMessage %>
  </p>
<% } %>
