<div id='listen-mode' class="columns">
  <% if (displayArrows.prev ) {%>
  <div class="arrow column is-one-third">
    <a href="/listen/<%=index%>">
      <img id='prev' src="/images/previous.svg" alt="Previous album">
    </a>
  </div>
  <%}%>
  <div class="column is-two-thirds is-narrow main">
    <h2>Listen Mode</h2>
    <h2>
      <%=currentAlbum.title %>, By <%=currentAlbum.artist %>
    </h2>
    Album <%=index + 1%> out of <%=listenListLength%> in your Listen List
    <div class='cover'>
      <img src="<%=currentAlbum.coverURL%>" alt="Album cover">
    </div>
    <div class='user-feedback'>
      <a href="listen/<%=index + 2%>/sucks">
        <img id='sucks' src="/images/cross.svg" alt="Sucks">
      </a>
      <a href="listen/<%=index + 2%>/rocks">
        <img id='rocks' src="/images/tick.svg" alt="Rocks">
      </a>
    </div>
    <br>
    <%tracks.forEach( (track) => {%>
      <div class='track'>
        <p><%=track.title%></p>
        <audio controls="controls" controlsList="nodownload"
        src="<%=track.file['mp3-128']%>">
        Your browser does not support the <code>audio</code> element.
        </audio>
      </div>
    <%})%>
  </div>
  <!--  if (displayArrows.next ) { -->
  <div class="arrow column is-one-third is-narrow">
      <a href="/listen/<%=index + 2%>">
        <img id='next' src="/images/next.svg" alt="Next album">
      </a>
  </div>
  <!-- } -->
</div>