<div id='listen-mode' class="columns">
  <div class="arrow column is-one-third">
      <% if (displayArrows.prev ) {%>
    <a href="/listen/<%=index%>">
      <img id='prev' src="/images/previous.svg" alt="Previous album">
    </a>
    <%}%>
  </div>
  <div class="column is-two-thirds is-narrow main">
    <h1>
      <%=currentAlbum.title %>, By <%=currentAlbum.artist %>
    </h1>
    <h2>
      Album <%=index + 1%> out of <%=listenListLength%> in your Listen List
    </h2>
    <div class='cover'>
      <img src="<%=currentAlbum.coverURL%>" alt="Album cover">
    </div>
    <div class='user-feedback'>
      <a href="<%=index + 2%>/sucks">
        <img id='sucks' src="/images/zombie.svg" alt="Sucks">
      </a>
      <a href="<%=index + 2%>/rocks">
        <img id='rocks' src="/images/rainbow2.svg" alt="Rocks">
      </a>
      <a href="<%=currentAlbum.itemURL%>" target="_blank">
        <img id='BC' src="/images/bc.svg" alt="Link toBandcamp">
      </a>
    </div>
    <br>
    <%tracks.forEach( (track) => {%>
      <div class='track'>
        <p><%=track.title%></p>
        <% if (track.file) {%>
          <audio controls="controls" controlsList="nodownload"
          src="<%=track.file['mp3-128']%>">
          Your browser does not support the <code>audio</code> element.
          </audio>
        <%} else {%>
          <p class='NA-error-message'>
            Track not available for pre-listening
          </p>
        <%}%>
      </div>
    <%})%>
  </div>
  <div class="arrow column is-one-third is-narrow">
      <% if (displayArrows.next ) { %>
      <a href="/listen/<%=index + 2%>">
        <img id='next' src="/images/next.svg" alt="Next album">
      </a>
      <% } %>
  </div>
</div>